<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">FieldValidationBlazorApp</a>
  </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="starship-8">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> starship-8
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="starship-9">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> starship-9
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="starship-10">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> starship-10
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="starship-11">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> starship-11
      </NavLink>
    </div>
  </nav>
</div>

