<h4>FruitBowl with Dispenser Component</h4>

<p>Bowl contains @FruitDispenser.Fruit</p>

<button @onclick="ChangeFruit">Change Fruit</button>

@code {

    [CascadingParameter] FruitDispenser FruitDispenser { get; set; }

    [Parameter] public Action<string> OnFruitChange { get; set; }

    private void ChangeFruit()
    {
        FruitDispenser.ChangeFruit("Pineapple");
    }

}