<h4>LunchBox with Dispenser Component</h4>

<p>Lunch box contains @FruitDispenser.Fruit</p>

@code {
  [CascadingParameter, EditorRequired] FruitDispenser FruitDispenser { get; set; } = null!;

  protected override Task OnInitializedAsync()
  {
    if (FruitDispenser is null)
      throw new InvalidOperationException("Null parameter: FruitDispenser");

    return Task.CompletedTask;
  }
}