@using MyBlazor.Client.WorkerServices
@inject VersionCheckService VersionCheckService 

<p>Version : @_version</p>

@code {
  private VersionInfo? _version;

  protected override async Task OnInitializedAsync()
  {
    _version = await VersionCheckService.GetLocalVersionAsync();
  }
}