@using MyBlazor.Client.WorkerServices
@inject IVersionCheckService VersionCheckService

<p>Version : @_version?.Version</p>

@code {
  private VersionInfo? _version;


  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      _version = await VersionCheckService.GetLocalVersionAsync();
      StateHasChanged(); // Trigger a re-render to display the version
    }
  }
}