/* CSS-Isolation: https://learn.microsoft.com/en-us/aspnet/core/blazor/components/css-isolation */

.error-message {
  background-color: darkred;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
